In [3]:
import pandas as pd
df=pd.read_csv('file1.csv')
print(df.head())

            Artist                      Album  Released   Length  \
0  Michael Jackson                   Thriller      1982  0:42:19
1            AC/DC              Back in Black      1980  0:42:11
2       Pink Floyd  The Dark Side of the Moon      1973  0:42:49
3  Whitney Houston              The Bodyguard      1992  0:57:44
4        Meat Loaf            Bat Out of Hell      1977  0:46:33

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65  30-Nov-82        NaN    10.0
1                        50  25-Jul-80        NaN     9.5
2                        45  01-Mar-73        NaN     9.0
3                        44  17-Nov-92          Y     8.5
4                        43  21-Oct-77        NaN     8.0

In [4]:
import pandas as pd
songs={'album':['jackosn','jjk']}
songsDF=pd.DataFrame(songs)

In [6]:
# creating new dataframe from existing one
import pandas as pd
df=pd.read_csv('file1.csv')
lenghtdf=df[['Artist']]
print(lenghtdf.head())

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf

In [12]:
# accessing individual elements
import pandas as pd
df=pd.read_csv('file1.csv')
firstcr=df.iloc[0,0]
print(firstcr)
# another way
firstcr2=df.loc[0,'Artist']
print(firstcr2)
#another way
dfnew=df
dfnew.index=['a','b','c','d','f']
# print(dfnew.head())
print(df.loc['a','Artist'])

Michael Jackson
Michael Jackson
Michael Jackson

In [14]:
# Slicing the dataframe
import pandas as pd
df=pd.read_csv('file1.csv')
new_Df=df.iloc[0:2,0:3]
print(new_Df)

# Another way
newDf2=df.loc[0:2,'Artist':'Album']
print(newDf2)

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980
            Artist                      Album
0  Michael Jackson                   Thriller
1            AC/DC              Back in Black
2       Pink Floyd  The Dark Side of the Moon